/** @format */
/**border color*/
div[class^="col"] {
  border: 4px solid black;
  min-height: 100px;
}
/**background*/
body {
  background-color: rgb(109, 109, 109);
}
/**colorlist*/
.joncolor {
  text-align: center;
}
